@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Oswald|PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|Inconsolata&display=swap');

.App {
  text-align: center;
}
.navbar {
  width: 100% !important;
}

.brand-name {
  color: white;
}
